

body
{
	
	text-align: center;
}
h1 /*titre principal*/
{
	background-image: url("fond_carre_1.png");
	background-size: 10%;
	color: black;
	font-family: "Arial Black";
	font-size: 18pt;
}
h2 /*titre secondaire*/
{
	color: #006e95;
	font-family: "Arial";
	font-size: 14pt;
}
h3  /*texte et liens*/
{
	color: black;
	font-family: "Calibri Regular";
	font-size: 12pt;
}
h6 /*sous-titres*/
{
	color: black;
	font-family: "Microsoft New Tai Lue Regular";
	font-size: 10pt;
}
#perso_2 /*content*/ /*regard vers la droite*/
{
	text-align: right;
}
#perso_1 /*colere & blase*/ /*regard vers la gauche*/
{
	text-align: left;
}
#perso_3 /*maladroit*/
{
	text-align: center;
}


.button {
  display: outline-block;
  padding: 1em;
  background: white;
  color: black;
  border-radius: 4px;
  width: 250px;
  font-family: "Calibri Regular";
  font-size: 12pt;
}
.a {
  display: outline-block;
  padding: 1em;
  background: white;
  color: black;
  border-radius: 4px;
  width: 250px;
  font-family: "Calibri Regular";
  font-size: 12pt;
}

.button:hover {
  background-color: #dbc427;
  color: white;
}
.a:hover {
  background-color: #dbc427;
  color: white;
}
